/* Center and make full width */
/* #center_col, #foot, #cnt, #rcnt, .mw  { */
#foot, .mw, #center_col  {
    width: 98% !important;
    margin-left: 10px !important;
    max-width: None !important;
}

/* Remove left margin */
#topabar > DIV, #hdtb_msb > DIV
{
    margin-left: 20px !important;
}

/* Two column view */
 #rso {
    -webkit-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-rule-color:  #ccc;
    -webkit-column-rule-style: solid ;
    -webkit-column-rule-width:  1px;
}

.vsc, .nrgt  {
    max-width: 520px !important;
    width: auto !important;
    margin: 0 !important;
    display: inline-block !important;
}

.st {
    width: auto !important;
}

.s {
width: 100% !important;
max-width: 100% !important;
}

/* Remove Share Overlay */
.pplsrsl, .vspib {
    display: none !important;
}

.nrgt, .fc { 
    font-size: 0.8 em;
}

div.expl-result {
    display : none !important;
}

#rso li
{
    text-align: center !important;
}

/* /1* suggestions *1/ */
/* #brs { */ 
/* display: none; */
/* } */

/* #foot > DIV + DIV {display: none !important;} */

  /*=================================[ Improve pager ]===*/
  td .csb, #pagination td div, table.gooooogle td div, #fll { display:none !important; }
  #nav { margin-bottom: 7px !important; }
  #nav td, #pagination td, table.gooooogle td { padding:3px !important; }
  #nav + div + div { margin-top:0px !important; }
  #nav + div, div.r { display:none !important; }
  div.footer { padding: 0px!important; }
  #nav .pn span { margin-right: 5px !important; }
  #nav .pn span { margin-left: 5px !important; }

#nav
{
	position: absolute !important;
	top: 28px !important;
	right: 13px !important;
	text-transform: uppercase !important;
}

/* -----------------------------------------------
 * Paragraphs each containing a result of the search
 * ----------------------------------------------- */

/* .g { */
/* 	border: solid 1px #FFFFFF !important; */
/* 	padding: 4px !important; */
/* 	margin: 1em 0 !important; */
/* } */

/* .g:hover { */
/* 	border: solid 1px #AB1501 !important; */
/* 	background: #DDDDDD !important; */
/* } */

#rhs {
    display: inline-block !important; 
    z-index:1000 !important; 
    text-align: center !important;
    background: #FFF;
    left: none !important;
    right: none !important;
    top: -20px !important;
    margin: 0 38% !important;
    height: 10px !important;
    /* left: none !important; */
}

#rhs:hover {
    /* -webkit-transition-property:height; */
    /* -webkit-transition-duration:1s; */
    /* -webkit-transition-timing-function:linear; */
    /* -webkit-transition-delay:0s; */
    height: auto !important;
}

.rhsvw, .rhsvw > * {
    /* width: auto !important; */
    display: inline-block !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 auto !important;
    text-align: center !important;
}

/* /1* ----------------------------------------------- */
/*  * Results of images of... */
/*  * ----------------------------------------------- *1/ */

div.e > a > img
{
	max-height: 35px !important;
	width: 8% !important;
	height: 8% !important;
}

/* /1* ----------------------------------------------- */
/*  * Images that appear in the text accompanying the results. */
/*  * For example the image of a YouTube video, or an image of Google news. */
/*  * ----------------------------------------------- *1/ */

td > a > img,
td > img,     /* Google News icon */
#res.med > div.e > table > tbody > tr > td > img     /* See the results of web pages translated into English for: */
{
	margin-top: 5px !important;
	margin-right: 10px !important;
}

/* /1* ----------------------------------------------- */
/*  * Youtube's play button on video thumbnails */
/*  * ----------------------------------------------- *1/ */

table.ts td a div img
{
	position: relative !important;
	top: -25px !important;
	left: -12px !important;
}

/* /1* ----------------------------------------------- */
/*  * Special search boxes */
/*  * ----------------------------------------------- *1/ */

/* #saddr { width: 125px !important; }     /1* Google Maps search box *1/ */
/* #nqsbq { width: 200px !important; }     /1* Very rare seach box, I found searching Last.fm at Google, change value if you have an overflow *1/ */

/* /1* ----------------------------------------------- */
/*  * Related searches */
/*  * ----------------------------------------------- *1/ */

/* #brs td { padding-right: 50px !important; } */

/* /1* ----------------------------------------------- */
/*  * Position of div results */
/*  * ----------------------------------------------- *1/ */

/* #res */
/* { */
/* 	position: relative !important; */
/* 	top: 5px !important; */
/* } */

/* /1* ----------------------------------------------- */
/*  * Small arrangements for margins and paddings */
/*  * ----------------------------------------------- *1/ */

/* td, img, div */
/* { */
/* 	margin: 0 !important; */
/* 	padding: 0 !important; */
/* } */

