/* div[class='no']  */
/* {  */
  /* height: 30px !important; padding-top: 10px !important;  */
/* } */

/* div[class='GcwpPb-VArq Rgky9']  */
/* {  */
  /* margin-top: -4px !important; display: none !important; */
/* } */

/* Enlarge gmail to full width */ 
/* div[class="nH"]>div[class="nH"] > div[class="no"] {width: 100% !important;} */
/* div[class="nH"]>div[class="nH"] > div[class="no"] > div[class="nH nn"] {width: 98% !important;} */

/* div[class='nH oy8Mbf']  */
/* {  */
  /* margin-top: -13px !important; */
/* } */

/* div[class="T8uMgc O7kW4"] > *, div[class="Ls77Lb"] > div.pp {margin-left: 10px !important;} */

/* div[class="Ls77Lb"] > div.CX.pp, div[class="Ls77Lb"] > div.T4.pp {padding-left: 3px !important;} */

/* tr[class='zA zE'] > * { padding: 1px !important; font-size: 8pt !important;} */

/* tr[class='zA yO'] > * { padding: 1px !important; font-size: 8pt !important;} */

/* div[class="nH q0CeU z"] {margin-right: 10px !important;} */

/* div[class='nH oy8Mbf nn VKRe2c'] {width: 1px !important; overflow: hidden;background: #eee !important; border-right: 12px solid #bbb !important; -webkit-border-radius: 0 3px 3px 0 !important; -moz-border-radius:0 3px 3px 0 !important; */
/* -webkit-transition: all 0.25s ease; */
    /* -moz-transition: all 0.25s ease;} */

/* header */

/* div[class="nh GcwpPb-Z8OBDd"] > div.nH > div.no { */
/* background: #EEE !important; */
/* -moz-box-shadow: 0px 4px 3px #888; */
/* -webkit-box-shadow: 0px 4px 3px #888; */
/* box-shadow: 0px 4px 3px #888; */
/* } */

/* div[class='nH oy8Mbf nn VKRe2c']:hover {width: 180px !important; overflow: auto !important;margin-right: -179px !important;z-index: 100 !important;  */
/* -moz-box-shadow: 4px 4px 3px #888; */
/* -webkit-box-shadow: 4px 4px 3px #888; */
/* box-shadow: 4px 4px 3px #888; */
/* -webkit-transition: all 0.25s ease; */
/* -moz-transition: all 0.25s ease;} */
/*  */
/* HTML > BODY > DIV:first-child > DIV:last-child > DIV > DIV:last-child > DIV:first-child > DIV:first-child + DIV + DIV > DIV:first-child > DIV > DIV > DIV:first-child + DIV > DIV > DIV > DIV > DIV > DIV:last-child > DIV:last-child > DIV > TABLE > TR > TD:last-child > * {float: left !important; max-width: 35px !important; font-size: 1px !important; overflow: hidden !important;margin-left: -15px !important} */
/*  */
/* HTML > BODY > DIV:first-child > DIV:last-child > DIV > DIV:last-child > DIV:first-child > DIV:first-child + DIV + DIV > DIV:first-child > DIV > DIV > DIV:first-child + DIV > DIV > DIV > DIV > DIV > DIV:last-child > DIV:last-child > DIV > TABLE > TR > TD:last-child {} */
/*  */
/* HTML > BODY > DIV:first-child > DIV:last-child > DIV > DIV:last-child > DIV:first-child > DIV:first-child + DIV + DIV > DIV:first-child > DIV > DIV > DIV:first-child + DIV > DIV > DIV > DIV > DIV > DIV:last-child > DIV:last-child > DIV > TABLE > TR > TD:last-child:hover > * { max-width: 150px !important }  */
/*  */
/* HTML > BODY > DIV:first-child > DIV:last-child > DIV > DIV:last-child > DIV:first-child > DIV:first-child + DIV + DIV > DIV:first-child > DIV > DIV > DIV:first-child + DIV > DIV > DIV > DIV > DIV > DIV:last-child > DIV:last-child > DIV >   * { width: 100% !important} */
/*  */
/* Minimize labels */
    tr.zA div.yi > div > * {
        width: 16px  !important;
text-align: right !important
    }
    tr.zA div.yi > div > div > div >  * {
    margin-left: 16px !important;
}
    tr.zA:hover div.yi > div> * {
        width: auto   !important;
text-align: center !important;
    }
    tr.zA:hover div.yi > div > div > div >  * {
    margin-left:0px !important; 
}

/* tr[class="zA yO LByKvd"] > *, tr[class="zA zE LByKvd"] > * {padding-top: 4px !important;} */
/* tr[class="zA yO LByKvd PAOEbb"] > *, tr[class="zA zE LByKvd PAOEbb"] > * {padding-bottom: 4px !important;} */

/* .yO:hover td,.zE:hover td { */

/* background-color: #DDE !important;} */

/* alternate colors of row */
div.h7:nth-of-type(odd) div.adn.ads, div.kv:nth-of-type(odd){ background-color: rgba(0,0,255,0.05); }
    div.kv div.G2 { background-color: transparent !important; }

/* contrast read and unread */
/* .yO:not(.x7):not(.yQ) { background-color: rgba(230, 230, 230, 0.85) !important; } */
    /* .xY { border-bottom: 1px solid rgb(216, 216, 216) !important; } */
    /* .yO, .yO .y2 { color: rgb(145,145,145) !important; } */
